Extracted_Faces/
Extracted Faces1/
lfw/
my_encoder/
my_model/
node_modules/
static/uploads/
train/
train_data/
dataset/Fabian_Kyalo
Extracted Faces/
static/uploads/
train_set/
weights/
dataset.zip

__pycache__
my_taken_image.jpg
my_image.jpg
package-lock.json


env_mfinder/
venv/

*.pyc
.env
.vscode/
.github/
.deployment
instance/
tests/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/