Extracted_Faces/
Extracted Faces1/
lfw/
my_encoder/
my_model/
node_modules/
train/
train_data/
dataset/Fabian_Kyalo
Extracted Faces/
static/uploads/
train_set/
weights/
dataset.zip

__pycache__
package-lock.json