{% extends 'base.html' %}

{% block content %}

<div class="container py-4 upload">
    <h3 class="text-dark">Image Upload</h3>
    <p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </p>
         <form class="form-upload" action="{{ url_for('upload_image') }}" enctype="multipart/form-data" method="POST">
            
            <div class="form-group">
                <label for="name">Enter Person's Name</label>

                <div class="input-group">
                    <input type="text" required name="name" class="form-control" placeholder="Enter Person's name" />
                </div>   
            </div>

            <div class="form-group">
                <label for="last_seen_time">Enter Last Seen Time</label>
                
                <div class="input-group">
                    <input type="time" name="last_seen_time" class="form-control" placeholder="Enter Last Seen Time"/>

                </div>
            </div>

            <div class="form-group">
                <label for="last_seen_location">Enter Last Seen Location</label>
                <div class="input-group">
                    <input type="text" name="last_seen_location" id="location" class="form-control" placeholder="Enter Last Seen Location">

                </div>
            </div>

            <div class="form-group">
                <label for="age">Enter Person's age</label>
                <div class="input-group">
                    <input type="number" name="age" class="form-control" placeholder="Enter Person's age" />

                </div>
            </div>

            <div class="form-group">
                <label for="description">Enter Person's Description</label>
                <div class="input-group">
                    <input type="text" name="description" class="form-control" placeholder="Enter Person's Description"/>

                </div>
            </div>

            <div class="form-group">
                <label for="description">Enter Your Phone Number</label>
                <div class="input-group">
                    <input type="text" name="phone" class="form-control" placeholder="Enter Your Phone Number"/>

                </div>
            </div>

            <div class="form-group">
                <label for="image">Select Image to Upload</label>
                <div class="input-group">
                    <input type="file" required name="image" class="form-control"/>

                </div>
            </div>

            <button type="submit" class="btn btn-primary" id="upload">Submit</button>
        </form>
</div>

{% endblock %}