{% extends 'base.html' %}

{% block content %}

<div class="container">
	{% if message is defined and message %}
        <div class="alert alert-success">{{ message }}</div>
    {% endif %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="text-center">#</th>
				<th class="text-center">Name</th>
				<th class="text-center">Location</th>
				<th class="text-center">Contact</th>
				<th class="text-center">Email</th>
				<th class="text-center">Role</th>
				<th class="text-center">Active?</th>
			</tr>
		</thead>
		<tbody>
			{% for record in data %}
			<tr>
				<th scope="row" class="text-center">{{ record[0] }}</th>
				<th class="text-center">{{ record[1] }}</th>
				<th class="text-center">{{ record[2] }}</th>
				<th class="text-center">{{ record[3] }}</th>
				<th class="text-center">{{ record[4] }}</a></th>
				<th class="text-center">{% if record[6] == 1 %} User {% else %} Admin {% endif %}</th>
				<th class="text-center">{% if record[7] == 'active' %} <a href="{{ url_for('change_status', id=record[0]) }}"><img src="../static/static_images/tick.png" alt="" width="25px" height="25px"></a> {% else %} <a href="{{ url_for('change_status', id=record[0]) }}"><img src="../static/static_images/close.png" class="text-center" alt="" width="25px" height="25px"></a> {% endif %}</th>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}